<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="pacs_soap_service">
                    <security mode="Transport" />
                </binding>
                <binding name="pacs_soap_service1">
                    <security mode="Transport" />
                </binding>
                <binding name="pacs_soap_service2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://testing-soap.dev-land.space:443/api/v1/soap/?WSDL"
                binding="basicHttpBinding" bindingConfiguration="pacs_soap_service"
                contract="EVASoap.pacs_soap_service" name="pacs_soap_service" />
            <endpoint address="https://testing-soap.dev-land.space:443/api/v1/soap/?WSDL"
                binding="basicHttpBinding" bindingConfiguration="pacs_soap_service1"
                contract="EVASoap.pacs_soap_service" name="pacs_soap_service1" />
        </client>
    </system.serviceModel>
</configuration>